@using SliDo.Models.Questions
@model CreateQuestionRequest


@* <form asp-action="Create">
    <div class="form-group">
        <label asp-for="Text" class="col-sm-3 control-label">Text</label>
        <input asp-for="Text" class="form-control" placeholder="Enter your question here."/>
    </div>
    <div class="form-group">
        <label asp-for="Author" class="col-sm-3 control-label">Author</label>
        <input asp-for="Author" class="form-control" placeholder="Enter your name if you want or you will remain anonymous." />
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
</form> *@

@using (Html.BeginForm("Create","Questions",FormMethod.Post)) {
    @Html.EditorForModel()
    <input type="submit" value="Ask question" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}