@model List<Car>
@{
    ViewData["Title"] = "Parking System";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<header class="text-center">
    <h1 class="display-7">Parking system</h1>
</header>
<content>
    <table class="cars-table">
        <thead>
            <tr>
                <th class="col">MAKE</th>
                <th class="col">MODEL</th>
                <th class="col" id="plate-number-col">PLATE NUMBER</th>
                <th class="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="car-data">
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td id ="plate-number">
                        <b>@Html.DisplayFor(modelItem => item.PlateNumber)</b>
                    </td>
                    <td>
                        <form id="delete-button" method="post" asp-controller="Car" asp-action="Delete">
                            <input type="hidden" name="plateNumber" asp-for="@item.PlateNumber" />
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @using (Html.BeginForm("Add", "Car", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="newCar-form">
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Make</label>
                <div class="col-lg-10">
                    <input type="text" autofocus="autofocus" name="make" title="Make" class="form-control" id="name" />
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-lg-2 control-label">Model</label>
                <div class="col-lg-10">
                    <input type="text" autofocus="autofocus" name="model" title="Model" class="form-control" id="name" />
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-lg-2 control-label">Plate #</label>
                <div class="col-lg-10">
                    <input type="text" autofocus="autofocus" name="plateNumber" title="PlateNumber" class="form-control" id="number" />
                </div>
            </div>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @errorMessage
                </div>
            }
            <div class="form-group" style="width: 30%">
                <div class="col-lg-10 mt-2 col-lg-offset-2">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    }
</content>